.mc-transfer{
    color: deepskyblue
}
/* .mc-transfer .ant-transfer-list-body {
    margin-top:30px;
}
.mc-transfer .ant-transfer-list-footer{
    border-radius: 4px 4px 0 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 0;
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding-left: 40px;
    padding-right: 32px;
    display: inline-flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
} */
.mc-transfer .ant-transfer-list-content{
    position: relative;
    /*overflow-y: overlay; /* ---only in chrome and safari */
}
.mc-transfer .ant-transfer-list-content-item>span{
    display: inline-block;
    position: absolute;
    right: 15px;
    left: 30px;
}
.mc-transfer .ant-transfer-list-content-item{
    text-overflow:inherit;
}
.mc-transfer .ant-transfer-list-footer div{
    display: inline-block;
}
.mc-transfer .custom-item{
    display: inline-flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    width: 100%;
}
.mc-transfer .custom-item>div{
    display: inline-block;
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

/* 穿梭框左侧 */
.mc-transfer .ant-transfer-list:first-child .ant-transfer-list-header .header-item div:not(:first-child){
    display:none;
}
.mc-transfer .ant-transfer-list:first-child .ant-transfer-list-content .custom-item div:not(:first-child){
    display:none;
}
.mc-transfer .ant-transfer-list:first-child .ant-transfer-list-content .custom-item div:first-child{
    max-width: 100%!important;
}



/* 穿梭框头部样式 */
.mc-transfer .ant-transfer-list-header-selected{
    display: inline-block;
    width: 90%;
    padding: 0 20px;
}
.mc-transfer .header-item{
    display: inline-flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    width: 100%;
}